 @model Traffic_Violation.Models.ProjectServiceSection

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<hr />
<div class="row d-flex justify-content-center pt-5">
    <div class="col-md-6 card p-4">
        <h3>Edit Service</h3>
        <form asp-action="EditService"  class="mt-3" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Serviceid" />
            <input type="hidden" asp-for="Imgpath" />

             <div class="button-wrapper">
                <label asp-for="Imgfile" class="btn btn-primary me-2 mb-4" tabindex="0">
                <span class="d-none d-sm-block">New Image</span>
                <i class="bx bx-upload d-block d-sm-none"></i>
                <input
                    hidden
                    asp-for="Imgfile"
                    class="account-file-input"
                />
                </label>


            </div>
            <div class="form-group mt-4">
                <label asp-for="Title" class="control-label">Title</label>
                <textarea asp-for="Title" maxlength="100" class="form-control" ></textarea>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
             <div class="form-group mt-4">
                <label asp-for="Description" class="control-label">Description</label>
                <textarea asp-for="Description" maxlength="200"  class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ManagePageServies" class="btn btn-primary">Back</a>

            </div>
        </form>

        @Html.ValidationSummary();
    </div>
</div>

<div>
</div>


