@model Traffic_Violation.Models.ProjectCar

@{
    ViewData["Title"] = "DeleteCar";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row text-center pt-5">
    <h3>Are you sure you want to delete it?</h3>
    <div>

    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Carid" />
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <a class="btn btn-primary" asp-action="CarManagement">Back</a>
        </form>
    </div>
</div>

